In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('./Grocery_Stores.csv')

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             173 non-null    float64
 1   Y             173 non-null    float64
 2   OBJECTID      173 non-null    int64
 3   FULL_ADDRESS  173 non-null    object
 4   Name          173 non-null    object
 5   PID           166 non-null    object
 6   BWID          135 non-null    float64
 7   Address       173 non-null    int64
 8   DateAdded     173 non-null    object
 9   DateDeleted   173 non-null    object
 10  GlobalID      173 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 15.0+ KB

In [4]:
raw = raw.rename(columns={'X': 'longitude','Y': 'latitude'})
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   longitude     173 non-null    float64
 1   latitude      173 non-null    float64
 2   OBJECTID      173 non-null    int64
 3   FULL_ADDRESS  173 non-null    object
 4   Name          173 non-null    object
 5   PID           166 non-null    object
 6   BWID          135 non-null    float64
 7   Address       173 non-null    int64
 8   DateAdded     173 non-null    object
 9   DateDeleted   173 non-null    object
 10  GlobalID      173 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 15.0+ KB

In [9]:

# Select just the longitude and latitude columns from the raw data
raw[['longitude','latitude']]

     longitude   latitude
0   -80.894170  35.477566
1   -80.860011  35.483022
2   -80.860211  35.500521
3   -80.861758  35.444176
4   -80.861406  35.443179
..         ...        ...
168 -80.791151  35.256073
169 -80.987332  35.302904
170 -80.799742  35.177793
171 -80.839449  35.174387
172 -80.737659  35.162839

[173 rows x 2 columns]