In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv('./Grocery_Stores.csv')

In [4]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             173 non-null    float64
 1   Y             173 non-null    float64
 2   OBJECTID      173 non-null    int64
 3   FULL_ADDRESS  173 non-null    object
 4   Name          173 non-null    object
 5   PID           166 non-null    object
 6   BWID          135 non-null    float64
 7   Address       173 non-null    int64
 8   DateAdded     173 non-null    object
 9   DateDeleted   173 non-null    object
 10  GlobalID      173 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 15.0+ KB

In [6]:
raw = raw.rename(columns={'X': 'longitude','Y': 'latitude'})
raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 173 entries, 0 to 172
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   longitude     173 non-null    float64
 1   latitude      173 non-null    float64
 2   OBJECTID      173 non-null    int64
 3   FULL_ADDRESS  173 non-null    object
 4   Name          173 non-null    object
 5   PID           166 non-null    object
 6   BWID          135 non-null    float64
 7   Address       173 non-null    int64
 8   DateAdded     173 non-null    object
 9   DateDeleted   173 non-null    object
 10  GlobalID      173 non-null    object
dtypes: float64(3), int64(2), object(6)
memory usage: 16.2+ KB

,longitude,latitude,OBJECTID,FULL_ADDRESS,Name,PID,BWID,Address,DateAdded,DateDeleted,GlobalID
0,-80.894170,35.477566,564,19815 NORTH COVE RD,Harris Teeter,00110129,300163356.0,372654,2019/01/01 00:00:00+00,1970/01/01 00:00:00+00,{DC1465EE-6740-4B87-81B5-03CC31E43AE7}
1,-80.860011,35.483022,5577,20125 N MAIN ST,Food Lion,00317714,300159718.0,67267,2019/01/01 00:00:00+00,1970/01/01 00:00:00+00,{45059778-BEC1-4CA9-9731-573E24D1BA0A}
2,-80.860211,35.500521,6031,431 PENINSULA DR,Harris Teeter,00323188,NaN,487398,2019/01/01 00:00:00+00,1970/01/01 00:00:00+00,{A037022E-C4E7-4616-8F55-1D1DFE3F9876}
3,-80.861758,35.444176,6886,9759 SAM FURR RD,Harris Teeter,00504207,300161800.0,224302,2019/01/01 00:00:00+00,1970/01/01 00:00:00+00,{E6E9DB66-59EF-40C0-B8F7-01C5F318738D}
4,-80.861406,35.443179,6899,9801 SAM FURR RD,Target,00504218,300161800.0,401393,2019/01/01 00:00:00+00,1970/01/01 00:00:00+00,{1E48764E-D4E7-44B0-8E98-844A7BA193A5}