In [28]:
import os
import pandas as pd

In [26]:
fileList = os.listdir('./qol-data/csvFiles/')

In [27]:
fileList.remove('.ipynb_checkpoints')
fileList.remove('metadata.csv')
fileList

['character.csv',
 'economy.csv',
 'education.csv',
 'engagement.csv',
 'environment.csv',
 'health.csv',
 'housing.csv',
 'safety.csv',
 'transportation.csv']

In [42]:
processCSV = lambda x: pd.read_csv('./qol-data/csvFiles/{}'.format(x),header=None).iloc[0:2].transpose()[1:]

In [45]:
frames = [processCSV(file) for file in fileList]

In [52]:
allTogether = pd.concat(frames)
allTogether.columns = ['code', 'name']
allTogether

        code                          name
1    r1_2015                          Area
2    r1_2013                          Area
3   m47_2018       Population_Density_2018
4   r47_2018              Population _2018
5   m47_2017       Population_Density_2017
..       ...                           ...
32  r44_2015  Transit_Ridership_Total_2015
33  m44_2014        Transit_Ridership_2014
34  r44_2014  Transit_Ridership_Total_2014
35  m44_2013        Transit_Ridership_2013
36  r44_2013  Transit_Ridership_Total_2013

[583 rows x 2 columns]

In [54]:
allTogether.to_csv('./qol-data/variableLookup.csv',index=False)