In [14]:
import pandas as pd
import matplotlib as plt
import numpy as np

## Import and clean data

In [15]:
# Import and clean variable metadata
metadata = pd.read_csv('qol-data/csvFiles/metadata.csv')
metadata = metadata.drop(0)
metadata = metadata.iloc[:, 0:5]
metadata = metadata.dropna()

In [16]:
characterRaw = pd.read_csv('qol-data/csvFiles/character.csv', header=1).dropna(thresh=10)
characterRaw = characterRaw[characterRaw.NPA.notnull()]
characterRaw.NPA = characterRaw.NPA.astype(int)
characterRaw

,NPA,Area,Area.1,Population_Density_2018,Population _2018,Population_Density_2017,Population _2017,Population_Density_2016,Population _2016,Population_Density_2015,...,Vacant_Land_2017,Vacant_Land_Area_2017,Vacant_Land_2016,Vacant_Land_Area_2016,Vacant_Land_2015,Vacant_Land_Area_2015,Vacant_Land_2013,Vacant_Land_Area_2013,Vacant_Land_2011,Vacant_Land_Area_2011
0,2,411.0,411.0,5.0,2243.0,5.0,2241.0,5.0,2240.0,5.0,...,4.3,18.0,4.3,18.0,4.3,18.0,4.3,18.0,4.3,18.0
1,3,1156.0,1156.0,8.0,9758.0,8.0,8816.0,7.0,7986.0,7.0,...,2.4,27.0,2.4,27.0,2.5,29.0,2.8,33.0,3.2,36.0
2,4,329.0,329.0,3.0,1120.0,3.0,1089.0,3.0,1080.0,3.0,...,4.3,14.0,4.3,14.0,5.1,17.0,5.1,17.0,5.1,17.0
3,5,167.0,167.0,5.0,772.0,5.0,790.0,5.0,790.0,4.0,...,21.4,36.0,21.4,36.0,21.4,36.0,21.4,36.0,21.4,36.0
4,6,403.0,403.0,5.0,1839.0,5.0,1871.0,5.0,1853.0,4.0,...,7.7,31.0,7.7,31.0,7.7,31.0,7.7,31.0,7.7,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,471,562.0,562.0,6.0,3412.0,5.0,2773.0,5.0,2769.0,5.0,...,17.4,98.0,17.5,98.0,17.5,98.0,17.5,98.0,17.5,98.0
458,472,374.0,407.0,4.0,1361.0,4.0,1337.0,4.0,1317.0,3.0,...,16.1,60.0,16.1,60.0,14.8,60.0,14.8,60.0,14.8,60.0
459,473,496.0,486.0,5.0,2369.0,5.0,2278.0,5.0,2266.0,5.0,...,21.0,104.0,21.6,107.0,22.1,107.0,22.1,107.0,21.3,103.0
460,474,481.0,502.0,5.0,2407.0,5.0,2402.0,5.0,2390.0,5.0,...,7.8,37.0,7.8,37.0,7.4,37.0,7.4,37.0,7.4,37.0
461,475,946.0,946.0,3.0,2825.0,3.0,2808.0,3.0,2723.0,3.0,...,11.6,109.0,11.6,109.0,11.6,109.0,11.6,109.0,11.6,109.0

In [18]:
economyRaw = pd.read_csv('qol-data/csvFiles/economy.csv', header=1).dropna(thresh=10)
economyRaw = economyRaw[economyRaw.NPA.notnull()]
economyRaw.NPA = economyRaw.NPA.astype(int)

In [19]:
educationRaw = pd.read_csv('qol-data/csvFiles/education.csv',header=1).dropna(thresh=10)
educationRaw = educationRaw[educationRaw.NPA.notnull()]
educationRaw.NPA = educationRaw.NPA.astype(int)

In [20]:
engagementRaw = pd.read_csv('qol-data/csvFiles/engagement.csv',header=1).dropna(thresh=10)
engagementRaw = engagementRaw[engagementRaw.NPA.notnull()]
engagementRaw.NPA = engagementRaw.NPA.astype(int)

In [21]:
environmentRaw = pd.read_csv('qol-data/csvFiles/environment.csv',header=1).dropna(thresh=10)
environmentRaw = environmentRaw[environmentRaw.NPA.notnull()]
environmentRaw.NPA = environmentRaw.NPA.astype(int)

In [22]:
healthRaw = pd.read_csv('qol-data/csvFiles/health.csv',header=1).dropna(thresh=10)
healthRaw = healthRaw[healthRaw.NPA.notnull()]
healthRaw.NPA = healthRaw.NPA.astype(int)

In [23]:
housingRaw = pd.read_csv('qol-data/csvFiles/housing.csv',header=1).dropna(thresh=10)
housingRaw = housingRaw[housingRaw.NPA.notnull()]
housingRaw.NPA = housingRaw.NPA.astype(int)

In [24]:
safetyRaw = pd.read_csv('qol-data/csvFiles/safety.csv',header=1).dropna(thresh=10)
safetyRaw = safetyRaw[safetyRaw.NPA.notnull()]
safetyRaw.NPA = safetyRaw.NPA.astype(int)

In [25]:
transportationRaw = pd.read_csv('qol-data/csvFiles/transportation.csv',header=1).dropna(thresh=10)
transportationRaw = transportationRaw[transportationRaw.NPA.notnull()]
transportationRaw.NPA = transportationRaw.NPA.astype(int)

In [26]:
transportationRaw

,NPA,Long_Commute_2018,Long_Commute_moe_2018,Long_Commute_2017,Long_Commute_moe_2017,Bicycle_Friendliness_2018,Bicycle_Friendliness_2017,Bicycle_Friendliness_2016,Bicycle_Friendliness_2015,Bicycle_Friendliness_2013,...,Transit_Proximity_2013,Transit_Proximate_Units_2013,Transit_Proximity_2011,Transit_Proximate_Units_2011,Transit_Ridership_2015,Transit_Ridership_Total_2015,Transit_Ridership_2014,Transit_Ridership_Total_2014,Transit_Ridership_2013,Transit_Ridership_Total_2013
0,2,39,11,39.0,12.0,1.5,1.5,1.5,1.5,1.5,...,100.00,1081.0,100.00,1082.0,35.0,879.0,43.0,1068.0,54.0,1348.0
1,3,33,4,32.0,5.0,2.1,2.1,2.2,2.1,2.3,...,100.00,4746.0,100.00,4468.0,34.0,2346.0,35.0,2438.0,33.0,2697.0
2,4,58,13,57.0,14.0,1.7,1.7,1.8,1.7,1.7,...,100.00,402.0,100.00,401.0,8.0,59.0,9.0,60.0,5.0,53.0
3,5,39,22,27.0,18.0,1.6,1.6,1.6,1.6,1.7,...,100.00,329.0,100.00,332.0,17.0,66.0,15.0,60.0,17.0,67.0
4,6,46,13,49.0,14.0,1.7,1.7,1.8,1.8,1.8,...,100.00,820.0,100.00,825.0,74.0,1258.0,77.0,1312.0,86.0,1375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,471,53,11,57.0,13.0,1.4,1.4,1.4,1.4,1.6,...,98.20,1252.0,98.27,1248.0,35.0,461.0,38.0,529.0,40.0,523.0
458,472,57,3,61.0,9.0,1.4,1.4,1.3,1.4,1.7,...,9.14,49.0,7.91,42.0,NaN,NaN,NaN,NaN,NaN,NaN
459,473,62,7,59.0,11.0,1.2,1.2,1.2,1.3,1.3,...,100.00,1028.0,100.00,1017.0,19.0,280.0,23.0,343.0,21.0,316.0
460,474,63,10,67.0,11.0,1.2,1.2,1.2,1.2,1.2,...,66.78,766.0,66.78,764.0,13.0,38.0,15.0,46.0,14.0,42.0
461,475,30,7,36.0,8.0,1.2,1.2,1.2,1.2,1.6,...,34.84,286.0,45.65,273.0,2.0,12.0,2.0,14.0,2.0,8.0

In [77]:
economyRaw.Household_Income_2018 = economyRaw.Household_Income_2018.str.replace(',','').replace('+','')

In [79]:
for each in economyRaw.Household_Income_2018:
    if not each.isnumeric():
        print(each.isnumeric())
        print(each)

False
-
False
-
False
-
False
-
False
-
False
-
False
Over 200000
False
-