In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px

## Import and clean data

In [2]:
# Import and clean variable metadata
metadata = pd.read_csv('qol-data/csvFiles/metadata.csv')
metadata = metadata.drop(0)
metadata = metadata.iloc[:, 0:5]
metadata = metadata.dropna()

In [28]:
# Get selected NPAs
selectedNPA = pd.read_csv("./selectedNPA.csv")
selected['order'] = selected.index

In [30]:
characterRaw = pd.read_csv('qol-data/csvFiles/character.csv', header=1).dropna(thresh=10)
characterRaw = characterRaw[characterRaw.NPA.notnull()]
characterRaw.NPA = characterRaw.NPA.astype(int)

characterMerged = pd.merge(selected, characterRaw, left_on="NPA",right_on="NPA",how="left")
characterMerged.to_pickle('./qol-data/pickles/character.pkl')

In [31]:
economyRaw = pd.read_csv('qol-data/csvFiles/economy.csv', header=1).dropna(thresh=10)
economyRaw = economyRaw[economyRaw.NPA.notnull()]
economyRaw.NPA = economyRaw.NPA.astype(int)
economyRaw.info()

economyMerged = pd.merge(selected,economyRaw,left_on="NPA",right_on="NPA",how="left")
economyMerged.to_pickle('./qol-data/pickles/economy.pkl')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462 entries, 0 to 461
Data columns (total 87 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   NPA                                           462 non-null    int64
 1   Household_Income_2018                         462 non-null    object
 2   Household_Income_moe_2018                     400 non-null    object
 3   Household_Income_2017                         456 non-null    float64
 4   Household_Income_moe_2017                     396 non-null    float64
 5   Public_Nutrition_Assistance_2018              459 non-null    float64
 6   Public_Nutrition_Assistance_2017              459 non-null    float64
 7   Public_Nutrition_Assistance_2016              459 non-null    float64
 8   Public_Nutrition_Assistance_2015              459 non-null    float64
 9   Public_Nutrition_Assistance_2013              459 non-null    float64
 10  Public_Nutrition_Assistance_2011              458 non-null    float64
 11  Employment_Rate_2018                          462 non-null    object
 12  Employment_Rate_moe_2018                      462 non-null    object
 13  Employment_Rate_2017                          460 non-null    float64
 14  Employment_Rate_moe_2017                      460 non-null    float64
 15  Job_Density_2015                              462 non-null    float64
 16  Jobs_2015                                     462 non-null    float64
 17  Job_Density_2014                              462 non-null    float64
 18  Jobs_2014                                     462 non-null    float64
 19  Job_Density_2013                              462 non-null    float64
 20  Jobs_2013                                     462 non-null    float64
 21  Job_Density_2012                              462 non-null    float64
 22  Jobs_2012                                     462 non-null    float64
 23  Job_Density_2011                              462 non-null    float64
 24  Jobs_2011                                     462 non-null    float64
 25  Job_Density_2010                              462 non-null    float64
 26  Jobs_2010                                     462 non-null    float64
 27  Job_Density_2009                              462 non-null    float64
 28  Jobs_2009                                     462 non-null    float64
 29  Job_Density_2008                              462 non-null    float64
 30  Jobs_2008                                     462 non-null    float64
 31  Job_Density_2007                              462 non-null    float64
 32  Jobs_2007                                     462 non-null    float64
 33  Job_Density_2006                              462 non-null    float64
 34  Jobs_2006                                     462 non-null    float64
 35  Job_Density_2005                              462 non-null    float64
 36  Jobs_2005                                     462 non-null    float64
 37  Job_Density_2004                              462 non-null    float64
 38  Jobs_2004                                     462 non-null    float64
 39  Job_Density_2003                              462 non-null    float64
 40  Jobs_2003                                     462 non-null    float64
 41  Job_Density_2002                              462 non-null    float64
 42  Jobs_2002                                     462 non-null    float64
 43  Commercial_Construction_2018                  462 non-null    float64
 44  Commercial_Construction_Permitted_Units_2018  462 non-null    float64
 45  Commercial_Construction_2017                  462 non-null    float64
 46  Commercial_Construction_Permitted_Units_2017  462 non-null    float64
 47  Commercial_Construction_2016                  462 non-null    float64
 48  Commercial_Construction_Permitted_Units_2016  462 non-null    float64
 49  Commercial_Construction_2015                  462 non-null    float64
 50  Commercial_Construction_Permitted_Units_2015  462 non-null    float64
 51  Commercial_Construction_2014                  462 non-null    float64
 52  Commercial_Construction_Permitted_Units_2014  462 non-null    float64
 53  Commercial_Construction_2013                  462 non-null    float64
 54  Commercial_Construction_Permitted_Units_2013  462 non-null    float64
 55  Commercial_Construction_2012                  462 non-null    float64
 56  Commercial_Construction_Permitted_Units_2012  462 non-null    float64
 57  Commercial_Construction_2011                  462 non-null    float64
 58  Commercial_Construction_Permitted_Units_2011  462 non-null    float64
 59  Commercial_Size_2018                          443 non-null    float64
 60  Commercial_Size_Total_2018                    443 non-null    float64
 61  Commercial_Size_2017                          442 non-null    float64
 62  Commercial_Size_Total_2017                    442 non-null    float64
 63  Commercial_Size_2016                          442 non-null    float64
 64  Commercial_Size_Total_2016                    442 non-null    float64
 65  Commercial_Size_2015                          443 non-null    float64
 66  Commercial_Size_Total_2015                    443 non-null    float64
 67  Commercial_Size_2013                          442 non-null    float64
 68  Commercial_Size_Total_2013                    442 non-null    float64
 69  Commercial_Size_2011                          441 non-null    float64
 70  Commercial_Size_Total_2011                    441 non-null    float64
 71  Commercial_Building_Age_2018                  443 non-null    float64
 72  Commercial_Building_Age_2017                  442 non-null    float64
 73  Commercial_Building_Age_2016                  442 non-null    float64
 74  Commercial_Building_Age_2015                  443 non-null    float64
 75  Commercial_Building_Age_2013                  442 non-null    float64
 76  Commercial_Building_Age_11                    441 non-null    float64
 77  Fincancial_Services_Proximity_2018            461 non-null    float64
 78  Financial_Services_Proximate_Units_2018       461 non-null    float64
 79  Fincancial_Services_Proximity_2017            461 non-null    float64
 80  Financial_Services_Proximate_Units_2017       461 non-null    float64
 81  Fincancial_Services_Proximity_2016            461 non-null    float64
 82  Financial_Services_Proximate_Units_2016       461 non-null    float64
 83  Fincancial_Services_Proximity_2015            461 non-null    float64
 84  Financial_Services_Proximate_Units_2015       461 non-null    float64
 85  Fincancial_Services_Proximity_2014            461 non-null    float64
 86  Financial_Services_Proximate_Units_2014       461 non-null    float64
dtypes: float64(82), int64(1), object(4)
memory usage: 317.6+ KB

In [32]:
educationRaw = pd.read_csv('qol-data/csvFiles/education.csv',header=1).dropna(thresh=10)
educationRaw = educationRaw[educationRaw.NPA.notnull()]
educationRaw.NPA = educationRaw.NPA.astype(int)

educationMerged = pd.merge(selected,educationRaw,left_on="NPA",right_on="NPA",how="left")
educationMerged.to_pickle('./qol-data/pickles/education.pkl')

In [33]:
engagementRaw = pd.read_csv('qol-data/csvFiles/engagement.csv',header=1).dropna(thresh=10)
engagementRaw = engagementRaw[engagementRaw.NPA.notnull()]
engagementRaw.NPA = engagementRaw.NPA.astype(int)

engagementMerged = pd.merge(selected,engagementRaw,left_on="NPA",right_on="NPA",how="left")
engagementMerged.to_pickle('./qol-data/pickles/engagement.pkl')

In [34]:
environmentRaw = pd.read_csv('qol-data/csvFiles/environment.csv',header=1).dropna(thresh=10)
environmentRaw = environmentRaw[environmentRaw.NPA.notnull()]
environmentRaw.NPA = environmentRaw.NPA.astype(int)

environmentMerged = pd.merge(selected,environmentRaw,left_on="NPA",right_on="NPA",how="left")
environmentMerged.to_pickle('./qol-data/pickles/environment.pkl')

In [35]:
healthRaw = pd.read_csv('qol-data/csvFiles/health.csv',header=1).dropna(thresh=10)
healthRaw = healthRaw[healthRaw.NPA.notnull()]
healthRaw.NPA = healthRaw.NPA.astype(int)

healthMerged = pd.merge(selected,healthRaw,left_on="NPA",right_on="NPA",how="left")
healthMerged.to_pickle('./qol-data/pickles/health.pkl')

In [36]:
housingRaw = pd.read_csv('qol-data/csvFiles/housing.csv',header=1).dropna(thresh=10)
housingRaw = housingRaw[housingRaw.NPA.notnull()]
housingRaw.NPA = housingRaw.NPA.astype(int)

housingMerged = pd.merge(selected,housingRaw,left_on="NPA",right_on="NPA",how="left")
housingMerged.to_pickle('./qol-data/pickles/housing.pkl')

In [37]:
safetyRaw = pd.read_csv('qol-data/csvFiles/safety.csv',header=1).dropna(thresh=10)
safetyRaw = safetyRaw[safetyRaw.NPA.notnull()]
safetyRaw.NPA = safetyRaw.NPA.astype(int)

safetyMerged = pd.merge(selected,safetyRaw,left_on="NPA",right_on="NPA",how="left")
safetyMerged.to_pickle('./qol-data/pickles/safety.pkl')

In [38]:
transportationRaw = pd.read_csv('qol-data/csvFiles/transportation.csv',header=1).dropna(thresh=10)
transportationRaw = transportationRaw[transportationRaw.NPA.notnull()]
transportationRaw.NPA = transportationRaw.NPA.astype(int)

transportationMerged = pd.merge(selected,transportationRaw,left_on="NPA",right_on="NPA",how="left")
transportationMerged.to_pickle('./qol-data/pickles/transportation.pkl')

In [40]:
economyRaw.Household_Income_2018 = economyRaw.Household_Income_2018.str.replace(',','').replace('+','')

In [41]:
economyRaw

,NPA,Household_Income_2018,Household_Income_moe_2018,Household_Income_2017,Household_Income_moe_2017,Public_Nutrition_Assistance_2018,Public_Nutrition_Assistance_2017,Public_Nutrition_Assistance_2016,Public_Nutrition_Assistance_2015,Public_Nutrition_Assistance_2013,...,Fincancial_Services_Proximity_2018,Financial_Services_Proximate_Units_2018,Fincancial_Services_Proximity_2017,Financial_Services_Proximate_Units_2017,Fincancial_Services_Proximity_2016,Financial_Services_Proximate_Units_2016,Fincancial_Services_Proximity_2015,Financial_Services_Proximate_Units_2015,Fincancial_Services_Proximity_2014,Financial_Services_Proximate_Units_2014
0,2,43971,NaN,45776.0,NaN,12.0,14.0,18.0,17.0,23.0,...,23.0,248.0,21.0,225.0,21.0,224.0,21.0,224.0,21.0,223.0
1,3,102133,NaN,97294.0,NaN,2.0,3.0,5.0,4.0,4.0,...,100.0,5914.0,100.0,5277.0,99.0,4699.0,99.0,4725.0,99.0,4717.0
2,4,185417,49227,156250.0,52580.0,0.0,0.0,0.0,0.0,1.0,...,13.0,56.0,15.0,62.0,17.0,67.0,17.0,67.0,17.0,67.0
3,5,26563,16026,22589.0,7914.0,53.0,56.0,55.0,56.0,54.0,...,36.0,116.0,14.0,44.0,13.0,44.0,13.0,44.0,13.0,43.0
4,6,30051,NaN,27381.0,NaN,39.0,43.0,53.0,54.0,46.0,...,62.0,499.0,61.0,498.0,61.0,501.0,61.0,500.0,61.0,503.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457,471,74609,18547,70259.0,17220.0,2.0,3.0,4.0,4.0,5.0,...,87.0,1358.0,85.0,1079.0,90.0,1146.0,90.0,1147.0,90.0,1150.0
458,472,105023,17792,94514.0,16514.0,1.0,2.0,1.0,1.0,2.0,...,5.0,29.0,10.0,54.0,10.0,55.0,11.0,57.0,11.0,57.0
459,473,81103,18838,61680.0,16644.0,4.0,5.0,0.0,0.0,5.0,...,81.0,876.0,91.0,959.0,91.0,949.0,79.0,819.0,80.0,819.0
460,474,44063,22792,45333.0,33055.0,3.0,3.0,2.0,2.0,3.0,...,67.0,774.0,68.0,787.0,68.0,785.0,68.0,786.0,67.0,773.0
461,475,137757,20142,135551.0,21453.0,0.0,0.0,0.0,0.0,0.0,...,81.0,718.0,72.0,631.0,71.0,604.0,72.0,607.0,72.0,595.0

In [42]:
economy = pd.read_pickle('./qol-data/pickles/economy.pkl')

In [43]:
economy

,NPA,order,Household_Income_2018,Household_Income_moe_2018,Household_Income_2017,Household_Income_moe_2017,Public_Nutrition_Assistance_2018,Public_Nutrition_Assistance_2017,Public_Nutrition_Assistance_2016,Public_Nutrition_Assistance_2015,...,Fincancial_Services_Proximity_2018,Financial_Services_Proximate_Units_2018,Fincancial_Services_Proximity_2017,Financial_Services_Proximate_Units_2017,Fincancial_Services_Proximity_2016,Financial_Services_Proximate_Units_2016,Fincancial_Services_Proximity_2015,Financial_Services_Proximate_Units_2015,Fincancial_Services_Proximity_2014,Financial_Services_Proximate_Units_2014
0,421,0,129479,10681,126458.0,22395.0,1.0,1.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,447,1,131442,47469,115438.0,28481.0,2.0,3.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,450,2,99107,37082,114399.0,12490.0,1.0,2.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,446,3,93111,16993,91838.0,10188.0,5.0,5.0,7.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,466,4,82651,13022,80199.0,11067.0,6.0,8.0,7.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,266,5,67388,11683,75966.0,10786.0,7.0,8.0,10.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,191,6,59403,10230,63947.0,10090.0,7.0,7.0,9.0,9.0,...,0.0,0.0,17.0,160.0,17.0,160.0,17.0,160.0,0.0,0.0
7,209,7,64151,6296,61159.0,4407.0,11.0,12.0,14.0,17.0,...,1.0,16.0,10.0,143.0,10.0,143.0,12.0,143.0,11.0,115.0
8,196,8,58654,17159,61830.0,11984.0,18.0,19.0,24.0,24.0,...,0.0,0.0,1.0,4.0,1.0,4.0,1.0,4.0,1.0,4.0
9,260,9,41100,10037,46661.0,6808.0,19.0,21.0,28.0,27.0,...,8.0,94.0,8.0,96.0,8.0,96.0,8.0,97.0,8.0,98.0
10,123,10,31713,8330,32051.0,8950.0,32.0,36.0,40.0,38.0,...,1.0,8.0,1.0,8.0,1.0,8.0,1.0,8.0,1.0,8.0
11,139,11,28125,7218,33075.0,7290.0,21.0,23.0,32.0,30.0,...,17.0,111.0,15.0,101.0,15.0,101.0,15.0,101.0,15.0,101.0
12,70,12,27964,8441,27413.0,8920.0,42.0,41.0,46.0,45.0,...,48.0,247.0,51.0,263.0,51.0,264.0,51.0,264.0,51.0,265.0
13,374,13,21393,NaN,23319.0,NaN,43.0,47.0,56.0,54.0,...,65.0,746.0,63.0,712.0,63.0,711.0,62.0,710.0,62.0,707.0
14,85,14,30057,14713,20417.0,11052.0,48.0,51.0,62.0,58.0,...,29.0,220.0,32.0,246.0,32.0,249.0,32.0,250.0,32.0,252.0
15,311,15,26939,7611,26213.0,8163.0,39.0,40.0,50.0,48.0,...,31.0,175.0,34.0,196.0,35.0,198.0,34.0,198.0,34.0,196.0
16,382,16,26591,NaN,27089.0,NaN,22.0,25.0,31.0,30.0,...,84.0,779.0,88.0,807.0,88.0,805.0,88.0,821.0,88.0,824.0